// Default

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgb(84, 124, 229)
}

// App

.app {
  padding: 25px;
  width: 100%;
  max-width: 450px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border: 1px solid #dedede;

  &__header {
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 10px;
    margin-bottom: 10px;
  }

  &__button {
    display: inline-block;
    padding: 10px;
    color: black;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    font-size: 14px;
    max-width: 100%;
    text-overflow: ellipsis;
    background-color: #eee;
    border: none;
    border-radius: 2px;

    &:hover,
    &:focus {
      background-color: black;
      color: white;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__input {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 0;
    font-size: 14px;
    border-bottom: 2px solid #eee;
    outline: none;

    &:active,
    &:focus {
      border-bottom-color: black;
    }

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-width: 30px;
  height: 30px;
  background-color: orange;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  line-height: 1;
  animation-name: bubble;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
  transition: opacity 1s ease-in;

  &:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &--die {
    animation: none;
    transform: scale(1.3);
    opacity: 0;
  }
}


@keyframes bubble {
  50% {
    transform: scale(1.1);
  }
}
